.main{
    font-size:13em;
    text-align:center;
    color:#FAB71C;
    margin-top:70px;
    text-transform: uppercase;
}

.sub{
    font-size:3.5em;
    text-align:center;
    color:white;
    margin-bottom:20px;
}

.btn-warning{
    background-color:#FAB71C !important;
    border-color:#FAB71C !important;
    pointer-events: none !important;
}

.btn-warning:hover{
    background-color:#FAB71C !important;
    border-color:#FAB71C !important;
}

.btn{
    font-size:4em;
    margin: 5px;;
}

.slide2btn{
    text-align:center;
    margin-top: 30px;
}

iframe{
    position:fixed;
    top: 80px;
    left:0;
    bottom:300px;
    right:0;
    width:100%;
    height:100%;
    border:none;
    margin:0;
    padding:0;
    overflow:hidden;
    z-index:999999;
}

.fade-white .content{
    background: white;
}

footer{
    height:100px;
}

.logo{
    margin-top:30px;
    margin-left:30px;
}

.wrap1{
    padding-top: 20px !important;
}

@media (max-width: 576px){
    .main{
        font-size:4em;
        padding-right:20px;
        padding-left:20px;
    }
    .sub{
       font-size:2.5em;
       padding-right:20px;
       padding-left:20px;
    }
    .btn{
        font-size: 3.5em;
    }

    .wrap1{
        padding-bottom: 300px !important;
    }
    
    iframe{
        position:fixed;
        top: 0;
        left:0;
        bottom:100px;
        right:0;
        width:100%;
        height:100%;
        border:none;
        margin:0;
        padding:0;
        overflow:hidden;
        z-index:999999;
    }

    .mobile-hide{
        display: none;
    }
}